.astrics {
    color: red;
}

form {
    width: 60%;
    background: #6666664c;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.donation {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.header {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    color: red;
}

label {
    width: 200px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
select {
    width: 50%;
    padding: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: 20px;
}