.astrics {
    color: red;
}

form {
    width: 60%;
    background: #6666664c;
    margin:auto;
    text-align:center;
    padding-top: 20px;
}

.donation {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 22px;
}

.header {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    color: red;
}

label {
    width: 200px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
select {
    width: 450px;
    padding: 5px;
    border: 2px solid #ccc;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.container {
    display: flex;
}
